@import './colors.scss';
@import './settings';
@import './viewport';
@import './wrap';
@import './heading.scss';
@import './font-size.scss';
@import './states.scss';
@import './reset.scss';
@import './device.scss';

:root {
    --logo: #{px-to-rem(140)};
}

*{
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    text-size-adjust: 100%;
    @include viewport-phone {
      outline: none;
    }
}

body,
input,
textarea,
button,
select {
  font-family: $font-family;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
    height: unset !important;

    font-weight: 300;
    font-size: px-to-rem(14);
    line-height: 180%;
    color: var(--color-blue-400);
    background-color: var(--color-white);

    &._lock, &._lock__pop{
        overflow: hidden;
    }
}

@keyframes animate-gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

@mixin button { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: px-to-rem(5);
    text-align: center;
}

@mixin button-gold {
    position: relative;
    z-index: 0;

    text-transform: uppercase;
    font-size: px-to-rem(14);
    line-height: px-to-rem(17);
    font-weight: 500;
    letter-spacing: 0.1em;

    color: var(--color-blue-400);

    //background-image: linear-gradient(87.59deg, #CBAB82 0%, #CBAB82 41.15%, #F1E1AD 59.44%, #CBAB82 100%);
    //background-color: red;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        // right: -2px;
        // bottom: -2px;
        width: 100%;
        height: 100%;
        z-index: -1;

        padding: px-to-rem(7) px-to-rem(9);
        background-image: linear-gradient(87.59deg, #CBAB82 0%, #CBAB82 41.15%, #F1E1AD 59.44%, #CBAB82 100%);
        background-size: 200%;

        opacity: 0;
        filter: blur(13px);
        border-radius: px-to-rem(5);
        transition: opacity 0.3s ease;

        @include non-mobile-device {
            content: '';
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);

        border-radius: px-to-rem(3);
        border: 1px solid rgba(var(--color-white--rgb), 0.4);
    }

    span {
        position: relative;
        z-index: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: px-to-rem(22) px-to-rem(28);
        border-radius: px-to-rem(5);

        background-image: linear-gradient(87.59deg, #CBAB82 0%, #CBAB82 41.15%, #F1E1AD 59.44%, #CBAB82 100%);
        background-size: 100%;
        transition: background 0.3s ease;

        @include non-mobile-device {
            animation: animate-gradient 8s linear infinite reverse;
            background-size: 200%;
        }
    }

    @include hover-focus-visible {
        @include non-mobile-device {
            &::before {
                opacity: 1;
                animation: animate-gradient 8s linear infinite;
            }
    
            span {
                animation: animate-gradient 8s linear infinite;
                background-size: 200%;
            }
        }
    }
}

@mixin button-blue {
    color: var(--color-blue-100);

    &::before {
        border: 1px solid rgba(var(--color-blue-100--rgb), 0.4);
    }
    &::after {
        background-color: var(--color-blue-100);
    }
    span {
        color: var(--color-blue-100);
    }

    @include non-mobile-hover {
        span {
            color: var(--color-white);
        }
    }

    &:focus-visible {
        span {
            color: var(--color-white);
        }
    } 
}

@mixin button-white {
    color: var(--color-white);

    &::before {
        border: 1px solid rgba(var(--color-blue-100--rgb), 1);
    }
    &::after {
        background-color: var(--color-white);
    }
    span {
        color: var(--color-white);
    }

    @include non-mobile-hover {
        span {
            color: var(--color-blue-100);
        }
    }

    &:focus-visible {
        span {
            color: var(--color-blue-100);
        }
    } 
}

@mixin button-normal {
    position: relative;
    z-index: 0;
    // max-width: px-to-rem(180);
    // width: 100%;
    padding: px-to-rem(9) px-to-rem(20);
    background-color: transparent;
    
    overflow: hidden;
    transition: background 0.3s ease;
    
    font-size: px-to-rem(16);
    line-height: px-to-rem(19);
    font-weight: 400;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;

        border: 1px solid rgba(var(--color-blue-100--rgb), 0.4);
        border-radius: px-to-rem(5);
        transition: opacity 0.3s ease;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -1px;
        width: 101%;
        height: 101%;
        z-index: 1;
        background-color: var(--color-blue-100);
        border-radius: px-to-rem(5);

        transform: translateY(100%);
        transition: transform 0.3s ease;
        transform-origin: 50% 0;
    }

    span {
        position: relative;
        z-index: 2;
        transition: color 0.3s ease;
        color: var(--color-blue-100);
    }

    @include non-mobile-hover {
        &::before {
            opacity: 0;
        }

        &::after {
            transform: translateY(0);
        }

        span {
            color: var(--color-white);
        }
    }

    &:focus-visible {
        &::before {
            opacity: 0;
        }

        &::after {
            transform: translateY(0);
        }

        span {
            color: var(--color-white);
        }
    }          
}

@mixin form-input {
    width: 100%;
    border: unset;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid rgba(var(--color-white--rgb), 0.46);
    background-color: transparent;
    padding: unset;
    padding-top: 3px;
    padding-bottom: 15px;

    transition: border 0.3s ease;

    font-weight: 400;
    font-size: px-to-rem(14);
    color: var(--color-white);

    &::placeholder {
        font-weight: 400;
        font-size: px-to-rem(14);
        color: rgba(var(--color-white--rgb), 0.51);
    }

    &:focus-visible {
        border-color: var(--color-white);
    }

    @at-root label.incorrect input {
        border-color: var(--color-gold-100);
    }

    @at-root label.incorrect input::placeholder {
        color: rgba(var(--color-gold-100--rgb), 0.51);
    }
}

._container {
    width: 100%;
    margin: 0 auto;

    @include viewport-desktop {
        max-width: 1252px;

        @media (max-width: 1400px) {
            max-width: 90%;
        }
    }
    @include viewport-tablet {
        max-width: 90%;
    }
    @include viewport-phone {
        max-width: 90%;
    }
}

.custom-logo-link {
    display: block;
    max-width: var(--logo);
    width: 100%;
    cursor: pointer;

    // @media screen and (max-width: 720px) {
    //     max-width: 144px;
    // }

    img{
        width: 100%;
        height: auto;
    }
}

.custom-form-select {
    position: relative;

    border: unset;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid var(--color-white);

    transform: unset !important;

    font-family: $font-family;
    font-size: px-to-rem(14);
    font-weight: 500;
    color: var(--color-white);

    select {
        display: none;
    }

    .select-items div,
    .select-selected {
        position: relative;
        padding: px-to-rem(8) px-to-rem(5);
        cursor: pointer;
    }

    .select-selected {
        //border-bottom: 1px solid var(--color-white);
        background-color: var(--color-blue-400);

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: px-to-rem(10);
            height: px-to-rem(10);

            background-image: url(../assets/img/label-arrow-down.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            transform: translate(0, -50%);
            transition: transform 0.3s ease;

            @at-root .select-selected.select-arrow-active::before {
                transform: translate(0, -50%) rotate(180deg);
            }
        }
    }

    .select-items { 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 3;
        //border-radius: px-to-rem(20);
        background-color: var(--color-blue-400);
        overflow: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &.select-hide {
            opacity: 0;
            visibility: hidden;
        }

        div {
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            transition: border 0.3s ease;

            &.same-as-selected {
                border-color: var(--color-white);
                //background-color: var(--color-gold-100);
            }
        }
    }

    .select-pointer {
        position: absolute;
        top: 0;
        left: 0;
        display: var(--mobile);
        width: 100%;
        height: px-to-rem(42);
        background-color: var(--color-gold-100);
        will-change: transform;

        @include viewport-tablet-max {
            display: none;
        }
    }

    //.select-items div:hover,
    .same-as-selected {
        border-color: var(--color-white);
        //background-color: var(--color-gold-100);
    }
}

._margin-top {
    @include viewport-desktop {
        margin-top: px-to-rem(100);
    }

    @include viewport-tablet {
        margin-top: px-to-rem(80);
    }

    @include viewport-phone {
        margin-top: px-to-rem(60);
    }
}

._section-first {
    margin-top: px-to-rem(var(--header));
}

.hover-table {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    background-color: var(--color-gold-100);

    will-change: transform;
    overflow: hidden;

    //.hover-table__content 
    &__content {
        display: flex;
        color: var(--color-white);

        @include viewport-desktop {
            padding: px-to-rem(15) px-to-rem(40) px-to-rem(12);
        }

        @include viewport-tablet-max {
            padding: px-to-rem(15) px-to-rem(25) px-to-rem(12);
        }

        > * + * {
            margin-left: px-to-rem(15);
            
            @include viewport-phone {
                margin-left: px-to-rem(20);
            }
        }
    }
}