$colors: (
    'blue-100': #3E5273,
    'blue-200': #263856,
    'blue-300': #202945,
    'blue-400': #14192B,
    'blue-500': #161928,
    'white': #FFFFFF,
    'grey-100': #F0F0F0,
    'grey-200': #666666,
    'gold-100': #CBAB82,
    'gold-200': #BC9C56,
);


@function hex-to-rgb ($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    @each $key, $value in $colors {
        --color-#{$key}--rgb: #{hex-to-rgb($value)};
        --color-#{$key}: #{$value};
    }
}

html {
    background-color: var(--color-white);
    color: var(--color-blue-400);
}
